---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="link-pill" href={href}><slot /></a>

<style>
  .link-pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--accent-text-over);
    background-color: var(--accent-regular);
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.35;
    white-space: nowrap;
    text-decoration: none;
  }

  .link-pill:hover,
  .link-pill:focus {
    color: var(--gray-100);
    background-color: var(--accent-subtle-overlay);
  }
</style>
