---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      As a full stack developer, I have experience working with both frontend
      and backend technologies, as well as proficiency in DevOps practices.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="gauge" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Optimization Expert</h2>
    <p>
      I take pleasure in enhancing software performance and efficiency by
      utilizing a variety of optimization techniques and strategies.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Problem Solver</h2>
    <p>
      I enjoy tackling complex challenges with analytical thinking to find
      efficient and innovative solutions that solve real-world problems.
    </p>
  </div>
</section>

<style>
  .box {
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
